<%@ page contentType="text/html; charset=UTF-8" pageEncoding="UTF-8" %>
<html lang="fa" dir="rtl">
<head>
    <link rel="stylesheet" href="assets/Customer1/css/style2.css">
    <title>داشبورد کاربری تیکت</title>
    <link rel="stylesheet" href="/assets/font/IRANYekanX-Bold.woff2">
    <link rel="stylesheet" href="/assets/font/IRANYekanX-Light.woff2">
    <link rel="stylesheet" href="/assets/font/IRANYekanX-Regular.woff2">
    <link rel="stylesheet" href="src/main/webapp/assets/Customer1/css/style2.css">

</head>
<body>


    <div class="top">
        <h1>صفحه ثبت تیکت </h1>
    </div>

    <div class="content-container">
        <div class="image-container">
            <img src="assets/image/Ticketing%20img.jpg" alt="تصویر شماره1" style="float:right;width:600px;height:300px;">
        </div>

        <div class="form-container">
            <div class="myform">
                <h2>لطفا مشکل خود را به صورت کامل توضیح دهید و دکمه ثبت را بفشارید</h2>
                <form action="/problem.do" method="post" class="Save-problem">
                    <label>
                        <p style="font-size:30px;">کاربر شماره1</p>
                    </label>
                    <label>
                        <input type="text" name="subject" placeholder="موضوع">
                    </label>
                    <label>
                        <textarea name="description" placeholder="متن توضیحات" ></textarea>
                    </label>
                    <input type="submit" value="ثبت">
                </form>
            </div>
        </div>
    </div>

<!--    <table>-->
<!--        <thead>-->
<!--            <tr>-->
<!--                <th>User Role</th>-->
<!--                <th>ID</th>-->
<!--                <th>UserName</th>-->
<!--                <th>Name</th>-->
<!--                <th>Family</th>-->
<!--            </tr>-->
<!--        </thead>-->
<!--&lt;!&ndash;        <tbody>&ndash;&gt;-->
<!--&lt;!&ndash;            <% for (User user : UserService.getService().findAll()) { %>&ndash;&gt;-->
<!--&lt;!&ndash;            <tr>&ndash;&gt;-->
<!--&lt;!&ndash;                <td><%= user.getUserRoles() %></td>&ndash;&gt;-->
<!--&lt;!&ndash;                <td><%= user.getId() %></td>&ndash;&gt;-->
<!--&lt;!&ndash;                <td><%= user.getUserName() %></td>&ndash;&gt;-->
<!--&lt;!&ndash;                <td><%= user.getName() %></td>&ndash;&gt;-->
<!--&lt;!&ndash;                <td><%= user.getFamily() %></td>&ndash;&gt;-->
<!--&lt;!&ndash;            </tr>&ndash;&gt;-->
<!--&lt;!&ndash;            <% } %>&ndash;&gt;-->
<!--&lt;!&ndash;        </tbody>&ndash;&gt;-->
<!--    </table>-->
<script src="assets/Customer1/Customer1.js"></script>
</body>
</html>